@font-face {
  font-family: 'DisplayRegular';
  src: url('../../assets/fonts/display-regular.woff2') format('woff2');
}
@font-face {
  font-family: 'DisplaySemibold';
  src: url('../../assets/fonts/display-semibold.woff2') format('woff2');
}
@font-face {
  font-family: 'DisplayBold';
  src: url('../../assets/fonts/display-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'TextRegular';
  src: url('../../assets/fonts/text-regular.woff2') format('woff2');
}
@font-face {
  font-family: 'TextSemibold';
  src: url('../../assets/fonts/text-semibold.woff2') format('woff2');
}
@font-face {
  font-family: 'TextBold';
  src: url('../../assets/fonts/text-bold.woff2') format('woff2');
}
