@mixin font($family, $size) {
  font-family: $family;
  font-size: $size;
}

@mixin fwidth($left, $width) {
  float: $left;
  width: $width;
}

@mixin icon($size) {
  float: left;
  width: $size;
  height: $size;
}

@mixin box() {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@mixin radius($radius: 4px) {
  border-radius: $radius;
}
