// scrollbar
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: $scrollbar;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: $scrollthmb;
  border-radius: 10px;
  &:hover {
    background: darken($scrollthmb, 10%);
  }
}

// resets
*,
:after,
:before {
  margin: 0;
  padding: 0;
  @include box();
}
body {
  @include font($tregular, 100px);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0px;
  padding: 0px;
  font-weight: 400;
}
ul,
ol,
li {
  list-style: none;
  padding-left: 0px;
}
main {
  display: block;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
}
article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  height: 0;
  overflow: visible;
  box-sizing: content-box;
}
pre {
  @include font($tregular, 1em);
}
a {
  background: $trans;
}
a,
img {
  outline: 0;
  border: 0px solid $trans;
  text-decoration: none;

  &:focus,
  &:active {
    outline: 0;
  }
}
b,
strong {
  font-weight: 700;
}
code,
kbd,
samp {
  @include font($tregular, 14px);
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
button,
input,
optgroup,
select,
textarea {
  @include font($tregular, 100%);
  line-height: 1.15;
  margin: 0;

  &:focus,
  &:active {
    outline: 0;
  }
  &:disabled {
    background: $gray;
    color: $white;
  }
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
input:-internal-autofill-selected {
  @include font($tregular, 14px);
  background: $white;
}
button,
[type='button'],
[type='reset'],
[type='submit'] {
  appearance: button;

  &::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
}
