// fonts
$dregular: 'DisplayRegular';
$dsemibold: 'DisplaySemibold';
$dbold: 'DisplayBold';
$tregular: 'TextRegular';
$tsemibold: 'TextSemibold';
$tbold: 'TextBold';

// color
$trans: transparent;
$scrollbar: #eeeeee;
$scrollthmb: #686868;

$white: #ffffff;
$gray: #bbbbbb;
