// fonts
$dregular: 'DisplayRegular';
$dsemibold: 'DisplaySemibold';
$dbold: 'DisplayBold';
$tregular: 'TextRegular';
$tsemibold: 'TextSemibold';
$tbold: 'TextBold';

// color
$trans: transparent;
$scrollbar: #eeeeee;
$scrollthmb: #686868;

$white: #ffffff;
$gray: #bbbbbb;

$authbg: #e8f2ff;

$shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
