// fonts
$dregular: 'DisplayRegular';
$dsemibold: 'DisplaySemibold';
$dbold: 'DisplayBold';

// color
$trans: transparent;
$scrollbar: #eeeeee;
$scrollthmb: #686868;

$white: #ffffff;
$black: #000000;
$gray: #bbbbbb;

$text: #5e6c84;
$btext: #1e1e1e;
$tcolor: #172b4d;
$tblue: #0052cc;
$authbg: #e8f2ff;
$border: #dfe1e6;
$shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
$headerShadow: rgba(0, 0, 0, 0.1) 0px 2px 2px;
