.appProfileSetup {
  display: flex;
  flex-direction: column;
  .appProHeading {
    h1 {
      font-size: 26px;
      font-family: var(--dsemibold);
    }
  }
  .appListProductCard {
    margin-top: 30px;
    .appCardItem {
      display: flex;
      flex-direction: column;
      margin-bottom: 32px;
      &:last-child {
        border-bottom: 0px solid var(--trans);
      }
      h4 {
        font-size: 16px;
        font-family: var(--dsemibold);
        margin-bottom: 4px;
      }
      & > p {
        font-size: 14px;
        font-family: var(--dregular);
        margin-bottom: 18px;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        li {
          cursor: pointer;
          padding: 6px 14px;
          box-shadow: var(--cardShadow);
          display: flex;
          align-items: center;
          margin-right: 10px;
          margin-bottom: 10px;
          border-radius: 4px;
          transition: 0.5s;
          & > span {
            float: left;
            width: 16px;
            height: 16px;
            margin-right: 6px;
            & > img,
            & > svg {
              float: left;
              width: 16px;
              height: 16px;
            }
          }
          p {
            font-size: 14px;
            font-family: var(--dsemibold);
            /* color: lighten($btext, 10%); */
          }
          &:hover {
            transition: 0.5s;
            /* background: lighten($gray, 20%); */
          }
        }
      }
    }
  }
}
