.app-profile-wrapper {
  display: flex;
  flex-direction: column;
}
.app-profile-header {
  display: flex;
  box-shadow: $headerShadow;
  justify-content: space-between;
  .app-nav-cover {
    display: flex;
    padding: 17px 20px;
    .app-nav-head {
      @include icon(20px);
      margin-right: 10px;
      & > svg {
        color: $tcolor;
        @include icon(20px);
      }
    }
    .app-header-logo {
      display: flex;
      margin-right: 60px;
      img {
        width: 122px;
      }
      h1 {
        height: 20px;
        line-height: 18px;
        margin-left: 20px;
        @include font($dsemibold, 18px);
      }
    }
    .app-nav-links {
      display: flex;
      ul {
        display: flex;
        li {
          margin-right: 20px;
          a {
            color: $btext;
            position: relative;
            @include font($dsemibold, 14px);
            &.nav-active {
              color: $tblue;
              &:after {
                content: '';
                position: absolute;
                top: calc(100% + 16px);
                left: 0px;
                width: 100%;
                height: 3px;
                background: $tblue;
              }
            }
            &:hover {
              color: $tblue;
            }
          }
        }
      }
    }
  }
  .app-avatar {
    padding: 10px 20px;
    & > span {
      margin-top: 5px;
      @include icon(25px);
      display: flex;
      align-items: center;
      justify-content: center;
      background: $gray;
      @include radius(50%);
      @include font($dsemibold, 12px);
    }
  }
}
.app-profile-content {
  display: flex;
  justify-content: center;
  .app-profile-content-cover {
    display: flex;
    width: 768px;
    margin-top: 30px;
  }
}
.app-profile-setup {
  display: flex;
  flex-direction: column;
  .app-pro-heading {
    h1 {
      @include font($dsemibold, 26px);
    }
  }
  .app-pro-descpt {
    margin-top: 20px;
    p {
      @include font($dregular, 14px);
    }
  }
  .app-list-product-card {
    margin-top: 30px;
    .app-card-item {
      display: flex;
      flex-direction: column;
      margin-bottom: 32px;
      &:last-child {
        border-bottom: 0px solid $trans;
      }
      h4 {
        @include font($dsemibold, 16px);
        margin-bottom: 4px;
      }
      & > p {
        @include font($dregular, 14px);
        margin-bottom: 18px;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        li {
          cursor: pointer;
          padding: 6px 14px;
          box-shadow: $cardShadow;
          display: flex;
          align-items: center;
          margin-right: 10px;
          margin-bottom: 10px;
          @include radius(3px);
          transition: 0.5s;
          & > span {
            @include icon(16px);
            margin-right: 6px;
            & > img,
            & > svg {
              @include icon(16px);
            }
          }
          p {
            color: lighten($btext, 10%);
            @include font($dsemibold, 14px);
          }
          &:hover {
            transition: 0.5s;
            background: lighten($gray, 20%);
          }
        }
      }
    }
  }
}
.app-profile-current-email {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  h3 {
    @include font($dsemibold, 17px);
    margin-bottom: 0px;
  }
  p {
    @include font($dregular, 14px);
    & > span {
      @include font($dsemibold, 14px);
    }
    em {
      color: $tblue;
      font-style: normal;
      @include font($dsemibold, 13px);
    }
  }
}
.app-profile-email {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  .app-profile-other-email {
    display: flex;
    flex-wrap: wrap;
    .app-mail-item {
      width: auto;
      display: flex;
      justify-content: center;
      padding: 10px 10px 10px 16px;
      @include radius(4px);
      border: 1px solid $border;
      & > span {
        @include icon(20px);
        & > img {
          @include icon(20px);
        }
      }
      p {
        @include font($dsemibold, 13px);
        margin-left: 10px;
        margin-right: 20px;
      }
      & > svg {
        margin-top: 2px;
        @include icon(16px);
      }
    }
  }
}
