.appProfileWrapper {
  display: flex;
  flex-direction: column;
}
.appProfileContent {
  display: flex;
  justify-content: center;
  & > .appProfileContentCover {
    display: flex;
    width: 768px;
    margin-top: 30px;
  }
}
